---
layout : base
title : "#OSOC21 selection tool team sherlock"
eleventyNavigation: 
    key: Home
    order: 1
---
<div class="h-layout">
    <div class="intro">
        <h1 id="about" > About the project </h1>
        <p>
            To compose the most successful team each year, Open Summer of Codes uses a self-made selection tool. This has worked fine until now, but there have been a few things missing. 
        </p>
        <p>
            Osoc tries to make sure they have diverse teams. That is why during a period of 4 weeks team Sherlock, consisting of :
        </p>
            <ul class="intro__teamList">
            {% for student in team.students %}
                <li>
                    <a href="#{{student.firstname}}">
                        {{ student.firstname }} {{ student.lastname }} - student
                    </a>
                </li>
            {% endfor %}
            {% for coach in team.coaches %}
                <li>
                    <a href="#{{coach.firstname}}">
                        {{ coach.firstname }}  {{ coach.lastname }} - coach
                    </a>
                </li>
            {% endfor %}
            </ul>
            
            <p>
                We named ourself team <b>Sherlock</b>, dived into the research, worked together to improve the tool. The goal was a selection tool where recruiters have the opportunity to collaborate in real-time, find the best candidates and match them to the preferred team, resulting in more diverse and innovative teams. Our demo day pitch video can be found <a class="inline-link" href="#demo-pitch">here</a>.
            </p>

    </div>

    <h2> Features / Improvements</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quo rem sint vel excepturi unde sed eius animi quidem mollitia veniam veritatis, quia velit fugit ratione optio explicabo debitis distinctio.
    </p>

    <h3 id="demo-pitch"> Pitch Demo Day </h3>
    <p>If you are interested in our final pitch on the demo-day, feel free to re-watch it here:</p>
    <div class="demo-pitch__YT">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7F6HzKRxWag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h3> Team Sherlock </h3>
    {% include "_components/teamList.njk" %}
</div>