---
layout : base
title : Home
eleventyNavigation: 
    key: Home
    order: 1
---
<div class="h-layout">
    <h1> Selection Tool osoc title</h1>

    <h2> About the project </h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta officia alias facere cum blanditiis dolor quidem. Ad non exercitationem odit quia recusandae explicabo vitae quis, numquam nisi ipsa beatae vel?
    </p>

    <h2> Features / Improvements</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quo rem sint vel excepturi unde sed eius animi quidem mollitia veniam veritatis, quia velit fugit ratione optio explicabo debitis distinctio.
    </p>

    <h3> Team Sherlock </h3>
    {% include "_components/teamList.njk" %}
</div>