<footer>
    <div class="footer__content h-layout">
        <div class="footer__top">
            <a href="{{ '/'  | url}}" class="footer__top__logo">
                <img src="{{ '/assets/img/logo.svg' | url }}" alt="">
            </a>
        </div>

        <div class="footer__bottom">
            <div class="footer__bottom__copy">
                <span>
                    &copy; 2021 Sherlock
                </span>
            </div>
        </div>
    </div>
</footer>