<header>
    <nav class="navbar h-layout">
        <a href="{{ '/'  | url}}" class="navbar__logo">
            <img src="{{ '/assets/img/logo.svg' | url }}" alt="">
        </a>

        <a class="menuToggler">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <div class="navbar__nav">
            <ul class="navbar__nav__list">
                <li class="navbar__nav__listItem active">
                    <a href="{{'/#about' | url}}">
                        About the project
                    </a>
                </li>
                <li class="navbar__nav__listItem">
                    <a href="{{'/#features' | url}}">
                        Features / Improvements
                    </a>
                </li>
                <li class="navbar__nav__listItem">
                    <a href="{{'/#demo-pitch' | url}}">
                        Pitch Demo Day
                    </a>
                </li>
                <li class="navbar__nav__listItem">
                    <a href="{{'/#team' | url}}">
                        Team Sherlock
                    </a>
                </li>
            </ul>
        </div>

    </nav>
</header>