<header>
    <nav class="navbar h-layout">
        <a href="{{ '/'  | url}}" class="navbar__logo">
            <img src="{{ '/assets/img/logo.svg' | url }}" alt="">
        </a>

        <a class="menuToggler">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <div class="navbar__nav">
            <ul class="navbar__nav__list">
                <li class="navbar__nav__listItem active">
                    <a href="{{'/#' | url}}">
                        Block 1
                    </a>
                </li>
                <li class="navbar__nav__listItem">
                    <a href="{{'/#' | url}}">
                        Block 1
                    </a>
                </li>
                <li class="navbar__nav__listItem">
                    <a href="{{'/#' | url}}">
                        Block 1
                    </a>
                </li>
            </ul>
        </div>

    </nav>
</header>